apiVersion: v1
kind: Namespace
metadata:
  name: registryx
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: registryx-config
  namespace: registryx
data:
  DB_HOST: "postgres-svc"
  DB_PORT: "5432"
  DB_USER: "registryx"
  DB_NAME: "registryx"
  REDIS_ADDR: "redis-svc:6379"
  SERVER_PORT: ":5000"
  S3_ENDPOINT: "minio-svc:9000"
  S3_BUCKET: "registryx-data"
  MINIO_SECURE: "false"
  MINIO_REGION: "us-east-1"
  POLICY_ENVIRONMENT: "production"
  TRIVY_CACHE_DIR: "/tmp/trivy"
---
apiVersion: v1
kind: Secret
metadata:
  name: registryx-secrets
  namespace: registryx
type: Opaque
data:
  # Base64 encoded values. NOTE: In real prod, use Vault or SealedSecrets.
  # Values below are just placeholders 'password123' encoded for example.
  DB_PASSWORD: "cGFzc3dvcmQxMjM=" # password123
  JWT_SECRET: "cGFzc3dvcmQxMjM=" # password123
  MINIO_ROOT_USER: "YWRtaW4=" # admin
  MINIO_ROOT_PASSWORD: "cGFzc3dvcmQxMjM=" # password123
